
body {
    font: 100%/1.4em "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin: 0 auto;
    padding: 0 0.625em;
    color: #444;
    -webkit-text-size-adjust: none;
}


.demo-header {
  color: white;
  margin-bottom: 80px;
  text-align: center;
}

.demo-title {
  color: white;
  font-size: 4em;
  line-height: 1em;
  text-align: center;
}

.battery-card {
  color: white;
  font-family: "Helvetica", Arial, sans-serif;
  display: block;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border: 1px solid #D5D5D5;
  border-radius: 6px;
  font-weight: 100;
  margin: 0 auto;
}

.battery-title {
  color: white;
  background: #4c4c4c url('bolt.png') no-repeat 95% 15px;
  color: #fff;
  font-size: 2em;
  line-height: 50px;
  padding: 0 15px;
  font-weight: 100;
  margin: 0;
}

.battery-percentage {
  color: white;
  font-size: 5em;
  line-height: 60px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.battery-box {
  color: white;
  margin: 0 auto;
  padding: 60px 0;
  text-align: center;
  border-bottom: 1px solid #D5D5D5;
}

.battery {

  display: inline-block;
  color: white;
  position: relative;
  border: 2px solid #000;
  width: 120px;
  height: 40px;
  border-radius: 6px;
  vertical-align: middle;
  
}

.battery:before {
  content: '';
  display: block;
  box-sizing: border-box;
  background: #000;
  height: 40px;
  position: absolute;
  border: 1px solid #fff;
  color: white;
}

.battery:after {
  content: '';
  display: block;
  background: white;
  width: 6px;
  height: 16px;
  position: absolute;
  top: 50%;
  right: -11px;
  margin-top: -8px;
  border-radius: 0 4px 4px 0;
  color: white;
}

.battery-info {
  font-size: 18px;
  margin-top: 8px;
  padding: 15px 45px;
  overflow: hidden;
  color: white;
}

.battery-info dd {
  float: right;
  margin-top: -26px;
  text-align: left;
  width: 35%;
  color: white;
}



